.margin-top {
    margin-top:1em;
}

.bottom {
    position:fixed;
    bottom:0;
    background-color: #ddd;
    width: 100%;
    opacity: 0.8;
    padding: .5em;
}
.btn {
    font-size:small;
}
#submit {
    background:#00b7ee;border:none;color:#fff;
}

#clipArea {
    margin: 20px;
    height: 300px;
}

#view {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
@media screen and (max-device-width:480px){
    .container {
        padding-bottom:4.5em;
    }
}