.admin-query {
    padding:.5em 1em ;
    text-align:right;
    /* position: absolute;
    top: -50px;                     
    right: 222px; */
    display: none;            /* 修改的地方 */
}
.query-result {
    padding:.5em;
}

.query-result thead {
    background-color: rgba(84, 89, 87, 0.99);
    color:#fff;
}

.query-result thead td {
    padding:.3em;
    text-align:center;
}
.query-result thead tr td{
    color: #fff;             /* 修改的地方 */
}
.query-result td {
    padding:.3em;
    font-size:smaller;
    text-align: center;
    color: #000;                /* 修改的地方 */
}

.query-result td a {
    padding:.5em;
    font-size:small;
}

.admin-form td {
    padding:.5em;
}

.admin-form tr td:first-child {
    text-align:right;
     color: #000;                   /* 修改的地方 */
}
.admin-form tr td:last-child {
    text-align:left;
}

.admin-form td input[type="text"] {
    width:200px;
}

.admin-form tr:last-child td {
    text-align:left;
}

.admin-menu {
    margin-top:3em;
    font-size:small;
    /* background-color: #033649; */
}
.admin-menu dt {
    background-color: rgba(220,221,213,0.7);
    padding:.7em;
    color: #47474D;
}

.admin-menu dd {
    margin-left:10px;
    padding:.5em;
}

.admin-menu dd a {
    text-decoration: none;
    cursor:pointer;
    font-family: "微软雅黑";
    color: #cdb380;

}

.admin-menu dd a:hover{
    color: #e6b33d;
    text-decoration: underline;
}
.admin-menu dd:hover{
    border-right: 3px solid #F4CD0D;
}
.footer {
    border-top:1px solid #000;
    margin:1em 0;
    padding:1em;
}

.float-left {
    float:left;
    color: #000;
}

.float-right {
    float:right;
    color: #000;                /* 修改的地方 */
}
.account-info {
    position: absolute;
    margin-right: 0px;
    right: 30px;
    top: 30px;
    color: #fff;                /* 修改的地方 */      
}
.margin-top-10 {
    margin-top:10px;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.scroll-tool {
    font-size: xx-large;
    position: fixed;
    right: 100px;
    bottom:100px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px 10px 10px 15px;
}
.scroll-tool a {
    text-decoration: none;
}


/* 修改的地方开始 */
body{
    /* background: url(../images/squared_metal.png); */
    background: url(../images/wood_pattern.png);
   /*  background: url(../images/restaurant.png); */
    color: #000;
    font-family: "微软雅黑";
}
header {
  background-color: rgba(46, 60, 72, 0.8);
  border-bottom: 10px solid rgba(255, 255, 255, 0.13);
  position: relative;
}
header h1{
     /*  color: rgba(131, 240, 219, 0.75); */
      color: rgba(218, 247, 241, 0.75);
}
.text-center{
    color: #000;
} 
.left-sidebar{
     background-color: rgba(46, 60, 72, 0.8);
}
.search-query {
    padding:.5em 1em ;
    text-align:right;
    position: absolute;
    top: 22px;                     /* 修改的地方 */
    right: 222px;
}
button {
  background-color: #A4A59F;
  border-radius: 3px;
  border: none;
  color: #fff;
}
button:hover{
background-color: #848679;
}
.search-query input{
  border-radius: 5px;
  border: none;
}
.account-info a:hover{
    color: #0D8FFF;
}
.admin-form{
    margin-top: 35px;
}
a{
    color:#1997CF;
}
a:hover{
    color:#0E64B2;
}
a.disabled {
    color:#ccc;
}
a.sync_error {
    color:orangered;
}
/* 修改的地方结束*/

.robot-item {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    font-size:large;
    height: 180px;
}
.robot-item.add-item {
    line-height:180px;
}
.robot-item img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
.robot-item .robot-status {
    font-size:x-small;
}
.robot-item .robot-status1 {
    color:green;
}

.robot-item a.robot-item-op {
    font-size: x-large;
    position: absolute;
    right: 5px;
    top:5px;
    border-radius: 20px;
    background: forestgreen;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration:none;
    display:none;
}

.robot-item.current {
    border:1px solid forestgreen;
}
.robot-item.current  a.robot-item-op{
    display:block;
}

.robot-item a.robot-item-op:hover {
    background: #aaa;
}

.robot-item .robot-item-conf {
    position: absolute;
    right: 30px;
    font-size: x-large;
    bottom: 10px;
    display:none;
    text-decoration: none;
}
.robot-item.current .robot-item-conf {
    display:block;
}
.robot-config-panel {margin-bottom: 20px;}
.robot-config-panel h5{background:#ccc;padding:10px;margin: 0;}
.robot-config-panel .robot-config-item {padding:5px 10px;}
.robot-config-panel .robot-config-item a {}
.robot-config-panel input[type=file] {display:inline;display:none;width:75px;}
.robot-config-panel input,.robot-config-panel select {margin:0 5px;}
.robot-config-panel .robot-config-item .sub-item {padding:10px;margin-left:190px;}
.robot-config-panel .robot-config-item img {width:50px;}