.admin-query {
    padding:.5em 1em ;
    text-align:right;
}

.query-result {
    padding:.5em;
}

.query-result thead {
    background-color: #8c8c8c;
    color:#fff;
}

.query-result thead td {
    padding:.3em;
    text-align:center;
}
.query-result td {
    padding:.3em;
    font-size:smaller;
}

.query-result td a {
    padding:.5em;
    font-size:small;
}

.admin-form td {
    padding:.5em;
}

.admin-form tr td:first-child {
    text-align:right;
}
.admin-form tr td:last-child {
    text-align:left;
}

.admin-form td input[type="text"] {
    width:200px;
}

.admin-form tr:last-child td {
    text-align:left;
}

.admin-menu {
    margin-top:3em;
    font-size:small;
}
.admin-menu dt {
    background-color:#8c8c8c;
    padding:.5em;
}
.admin-menu dd {
    margin-left:10px;
    padding:.5em;
}

.admin-menu dd a {
    text-decoration: none;
    cursor:pointer;
}


.footer {
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:1em;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

.margin-top-10 {
    margin-top:10px;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}