.full {width:100%;}
/* body { background-color:#4F5155; } */

/* 修改的地方开始 */
body{
    background: url('../images/010.jpg');
     /* background: url(../images/wood_pattern.png); */
    color:#fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #CCC!important;
    outline:none; 
}
input:-moz-autofill {
    -moz-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #CCC!important;
    outline:none; 
}
.container {
    /* background-color: #072A52; */
    background-color: rgba(7, 42, 82, 0.8);
       /* background-color: rgba(147, 114, 42, 0.8); */
    width:370px;
    height:400px;
    margin:0 auto;    
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-190px;
    -webkit-border-radius:15px;
     -moz-border-radius:15px;
          border-radius:15px;    
 /*  -webkit-box-shadow:0 0 15px rgba(27, 114, 211, 1);  
      moz-box-shadow: 0 0 15px rgba(27, 114, 211, 1);  
          box-shadow:0 0 15px rgba(27, 114, 211, 1);  */                                                                    
}
.title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 100px;
}
.login{
    margin-top: 40px;
    background: rgba(50, 128, 218, 0.7);
   /*  background: rgba(126, 92, 18, 0.99); */
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    border: nome;
}
.login:hover{
       /* background: rgba(176, 124, 12, 0.99); */
         background: rgba(13, 87, 171, 0.8);
}
.remember{
    float: right;
}
.form-control:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
/* 修改的地方结束 */

.green {
    background-color: #4cae4c;
}
.enroll {
    background-color:#ce8483;
    border-radius:0.3em;
    font-size: large;
    color:black;
    padding: 0.5em 1.5em;
}
.enroll-div {
    padding-top:1em;
    padding-bottom:1em;
    margin: 1em 0;
}
.active-last {
    font-size:small;
}
.light-green {
    background-color:#a6e1ec;
}
.search-form {
    margin-top:1em;
}
.search-txt {
    border-radius: 0.3em;
    border: 0;
    padding: 0.2em;
    font-size: small;
}
.search-btn {
    cursor: pointer;
    text-decoration: none;
}
.rank-1 {
    background-color:#1b6d85;
}
.rank-2 {
    background-color:#2e6da4;
}
.rank-3 {
    background-color:#8c8c8c;
}
.rank-1,.rank-2,.rank-3 {
    padding:.5em;
    border-radius:.3em;
    color:#fff;
}

.photo-item {
    margin-bottom:1em;
}
.rank-row {
    padding: 1em 0;
}
.pink {background-color: pink}

.user-num {
    color: #fff;
    position: absolute;
    background-color: brown;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: .1em .2em;
    opacity: 0.7;
    right: 1em;
}
td.green ,td.pink{
    font-size: small;
    padding: .5em .2em;
    color:#fff;
}

.link-box a,.link-box strong{
    padding:0 .3em;
}
.bottom-menu {
    position:fixed;
    bottom:0;
    background-color:#fff;
    width:100%;
    left:0px;
}
.bottom-menu li {
    list-style:none;
    float:left;
    width:30%;
    text-align:center;
}
.main-content {
    padding:1em;
    padding-bottom:2em;
}
.album-item {
    margin-top:10px;
}